<h1>Current Calls to Actions That Need Your Help</h1>

<style>
h1{
  text-align: center;
    margin-top: 3;
}
</style>
<section id="gigs" class="container">
    <h1>Current Action Alerts!</h1>
    <% calls.forEach(listOfCalls=>{ %>
    <div class="gig">
      <h3><%= listOfCalls.title %> </h3>
      <p><%= listOfCalls.description %></p>
      <ul>
        <li>Contact Email:<%= listOfCalls.conact_email %></li>
        <li>Contact Phone:<%= listOfCalls.contact_phone %></li>
        <li><a href="/profile" class="btn btn-reverse">Take Action</a></li>
        <form method="POST" action="/ctas/<%= listOfCalls.id %>/?_method=DELETE">
          <input type="submit" value="Delete">
        </form>
      </ul>
      <div class="tech">
        <small></span></small>
      </div>
    </div>
    <% }) %> 
  </section>
 
</body>

</html>






