<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM News</title>
</head>
<body>
  <h1>News About Armenia</h1>  

  <div class="wrapper">
    <div class="news">
        <% if(articles != null) { %>
    <%articles.forEach(article => { %> 
        
        <a href="<%- article.url %>" class="card">
            <img src="<%- article.urlToImage  %> " alt="<%- article.title %>">
            <h2><%- article.title %></h2>
            <p><%- article.description %></p>
        </a>
   
        <% }) %> 
        <% } else { %>
            No posts found.
        <% } %>
    </div>
  </div>



</body>
</html>

